plantmanager/data/__pycache__/__init__.cpython-310.pyc
plantmanager/data/__pycache__/Plant.cpython-310.pyc
plantmanager/service/__pycache__/__init__.cpython-310.pyc
plantmanager/service/__pycache__/plantService.cpython-310.pyc
plantmanager/test/__pycache__/__init__.cpython-310.pyc
plantmanager/test/__pycache__/plant_manager_test.cpython-310.pyc
.vscode/settings.json
plantmanager/repository/__pycache__/plant_storage.cpython-310.pyc
plantmanager/repository/__pycache__/__init__.cpython-310.pyc
plantmanager/__pycache__/plant_manager_test.cpython-310.pyc
